
input[type=text].nav-search-input, input[type=search].nav-search-input {
  position: relative;
  z-index: 915;
  color: #333;
  font-size: 16px;
  margin: 0;
  font-family: inherit;
  border-radius: 2px;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  height: 40px;
  width: 100%;
  padding: 10px 60px 10px 15px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  border-width: 1.5px;
}

.nav-header, .nav-header *, .nav-header *:before, .nav-header *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-header-visually-hidden {
  position: absolute;
  z-index: -1;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  display: block;
}

.nav-search {
  z-index: 910;
  will-change: left;
  -webkit-transition: left .15s ease-out;
  transition: left .15s ease-out;
  top: 0;
  right: 45px;
  max-width: 720px;
  left: -1px;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0px;
  position: relative;
  overflow: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button.nav-search-btn, button.nav-search-btn:focus {
  position: absolute;
  z-index: 920;
  padding: 0;
  background: none;
  border: none;
  font-size: 22px;
  color: #666;
  line-height: 1em;
  border-radius: 0 2px 2px 0;
  width: 46px;
  right: 0;
  top: 0;
  bottom: 0;
  left: auto;
  background-image: none;
  height: 40px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
}

button {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default;
}

[class^=nav-icon-]:before, [class*=" nav-icon-"]:before {
  display: inline-block;
  font-variant: normal;
  margin: 0;
  speak: none;
  text-align: center;
  width: 1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "navigation";
}

.nav-search-btn .nav-icon-search:before {
  content: "";
  vertical-align: top;
}

#nav-skip-to-main-content {
  color: #fff;
}

a.nav-skip-to-main-content {
  border: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  color: #fff;
  font-weight: 100;
  text-decoration: none;
  text-align: center;
  background: #3484fa;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: pointer;
  height: 0;
  padding: 0;
  line-height: normal;
}

.nav-skip-to-main-content>.nav-skip-to-main-content__content {
  display: none;
}

.nav-logo {
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
  background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.22.8/mercadolibre/logo__large_plus.png);
  height: 34px;
  width: 134px;
  display: -webkit-flex;
  display: flex;
  position: static;
  left: 0;
  top: 0;
}

.nav-header-plus .nav-bounds {
  display: grid;
  grid-template-areas:
      "nav-left-top nav-center-top nav-right-top"
      "nav-left-bottom nav-center-bottom nav-right-bottom";
  grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
  grid-template-rows: 40px 28px;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  grid-column-gap: 24px;
  row-gap: 12px;
  grid-row-gap: 12px;
  padding: 8px 10px 12px 10px;
}

.nav-header-plus .nav-center-area.nav-top-area {
  grid-area: nav-center-top;
}

.nav-header-plus .nav-left-area {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.nav-header {
  height: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #fff159;
  border: 0;
  position: relative;
}

.nav-header, [role=main], .nav-footer {
  display: table-row;
  width: 100%;
}
