body {
  background-color: #e7e7e7;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  background: #e7e7e7;
}

html, body {
  font-size: 13px;
}
