<app-search-box></app-search-box>
<mat-label>{{ breadcrumb }}</mat-label>
<mat-card>
  <mat-grid-list cols="2" rowHeight="1:2">
    <mat-grid-tile>
      <img [src]="itemDetail.picture" />
      <br/>
      <h2>Descripción del producto</h2>
      <br/>
      {{ itemDetail.description }}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-label>
        {{ itemDetail.condition }} - {{ itemDetail.sold_quantity }} vendidos
      </mat-label>
      <br/>
      <h2>
        $ {{ itemDetail.price.amount }}
      </h2>
    <br/>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
